
/* SPOTIFY MD */

@media screen and (max-width: 768px) {

    .col {
        width: calc((100% - 30px) / 4);
    }
}

/* SPOTIFY CAMBIO FOOTER */
@media screen and (max-width: 615px) {

    
    .bottom-row [class$="-block"] {
        /* width: calc(100% / 2); */
        width: auto;
    }
    
    .bottom-row {
        justify-content: space-between;
    }

   .right-block {
        display: none;
   }

   .center-block .bar {
        width: 40%;
    }

    .icon-left-block {
        padding-left: 10px;
    }
    
}


/* SPOTIFY S */

@media screen and (max-width: 520px) {

    .col {
        width: calc((100% - 10px) / 2);
    }
}



/* SPOTIFY XS */

@media screen and (max-width: 400px) {

    .col-small {
        width: 50px; 
        align-items: center;
        padding: 5px 0 8px;
    }

    .col-large {
        width: calc(100% - 50px);
    }

    .col-small span,
    .playlist,
    .divisor,
    .logo {
        display: none;
    }

    .logo-small {
        display: block;
        width: 25px;
    }

    .nav-col-small ul li {
        margin-bottom: 10px;
    }

    .col-small i {
        margin-right: 0;
    }

    .nav-col-small i {
        font-size: 17px;
    }

    .user-profile .download-app {
        display: flex;
        justify-content: center;
    } 

    .name-user {
        margin-top: 15px;
    }
}




